.classpath
.metadata
.project
.settings
.texlipse
.vscode
*.code-workspace

/experiments
/paper/*.aux
/paper/*.bbl
/paper/*.blg
/paper/*.fdb_latexmk
/paper/*.fls
/paper/*.log
/paper/*.out
/paper/*.pdf
/paper/*.synctex.gz

target/
zest.bin
source/synthesis/experiment*
