.classpath
.metadata
.project
.settings
.texlipse
*.code-workspace

/paper/*.aux
/paper/*.bbl
/paper/*.blg
/paper/*.fdb_latexmk
/paper/*.fls
/paper/*.log
/paper/paper.pdf
/paper/paper-deprecated.pdf
/paper/paper.synctex.gz
/paper/paper-deprecated.synctex.gz

target/
